.element__like-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 19px;
  background-color: white;
  cursor: pointer;
  transform: scale(1);
  z-index: 1;
}
