.popup__save-button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 719px) {
  .popup__save-button-text {
    font-size: 14px;
    line-height: 17px;
  }
}
